@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  /* background-image: url("gradient.jpg"); */
  background-color:#f0f0f0;
}

.smaller {

  width:20px;
  height:20px;
}

.thing {

  
  
  padding:18px;


}

.round {
  

  padding:10px;
  overflow: hidden;
  border-radius: 45px;
}

.thing2 {

  background-color:white;
  height:150px;

}


.thing img{

  width: 100%;

  
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #FFFFFF;
}

.smalllogo {
  height:60px;
  width:60px;
}

.site-header .navbar-nav .nav-link {
  color: #999999;
  font-weight:bold;
  font-family:Quicksand;
  font-size:20px;
  padding-right:35px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #f2f2f2;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}