@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color:#f0f0f0;
  color:#505050;
  
}

.round {
  padding:10px;
  overflow:hidden;
  border-radius: 45px;
}

progress,                          /* Firefox  */ 
progress[role][aria-valuenow] {    /* Polyfill */
  background: red !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: red !important;
}

.thing {
  padding:18px;
}


.thing2 {
  background-color:white;
  height:150px;
  border-width:10px;
  border-color: red;
  padding:25px;
}

p {
  margin:0px;
}

.thing img{
  width: 100%;
}

.round:hover {
  transform: scale(1.015);
  transition: transform .3s;
}

.round:hover img {
  opacity: 0.7;
}






.container {
  position: relative;
  width: 50%;
}

.image {
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: green;
  font-size: 20px;
  position:relative;
  top:250px;
  right:50px;
  visibility:hidden;
  text-align: center;
}









h1, h2, h3, h4, h5, h6 {
  color: #444444;

}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #FFFFFF;
}


.site-header .navbar-nav .nav-link {
  color: #999999;
  font-weight:bold;
  font-family:Quicksand;
  font-size:20px;
  
  float:left;
}

.site-header .navbar-nav .nav-link:hover {
  color: #c9c9c9;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}