{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'bass/main.css' %}">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <script type="text/javascript" src="{% static 'bass/jquery-3.4.1.js' %}"></script> 


	{% if title %}
		<title>Django Site - {{ title }} </title>
	{% else %}
		<title>Better Advertising Smarter Screening</title>
	{% endif %}

</head>
<body>

	<header class="site-header">
	  <nav class="navbar navbar-expand-md bg-steel fixed-top">
	    <div class="container">
	      <!-- <a class="navbar-brand mr-4" href="{% url 'bass-home' %}"><img class="smalllogo" src="{% static 'bass/logo.png' %}"/></a> -->
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      

	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	            <a class="nav-item nav-link" href="{% url 'bass-home' %}">Home</a> 
	            
				<a class="nav-item nav-link" href="{% url 'bass-about' %}">About</a>
				
				<a class="nav-item nav-link" href="{% url 'bass-recommend' %}">Recommend</a>

	        </div>
	        <!-- Navbar Right Side -->

	        
	        <div class="navbar-nav">
	          <a style="font-family: 'Dancing Script', cursive" class="nav-item nav-link" href="#">B A S S</a>
	         
	        </div>

	    

	      </div>
	    </div>
	  </nav>
	</header>

	
	<main style="width:65%; margin:auto" role="main">
		<br> 
		
		<br>
		
	 
	    <div>
	      {% block content %}{% endblock %}
	    </div>
	    
	    
	    
	    

	
	</main>


	

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>


<script type="text/javascript" >
	
	$( document ).ready(function() {
    

		console.log('hey im loaded with jquery')

	});

</script>




</html>