{% extends "bass/base.html" %}
{% block content %}
	
	
	{% for url,logo,tag,text,instaDesc,hashtags in data %}
		
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" style="color:black" href="#">@bassappclothes2</a>

		      
		    </div>
		    <h5><a class="article-title" href="{{ url }} ">{{ instaDesc }} </a></h5>
		    <img src="{{ url }}" /><br>
			
			<small class="text-muted">labels: {{ logo }}</small><br>
			<small class="text-muted">logos: {{ tag }}</small><br>
			<small class="text-muted">text: {{ text }}</small><br>
			<small class="text-muted">insta description: {{ instaDesc }}</small><br>
			<small class="text-muted">hashtags: {{ hashtags }}</small><br>
			

			
			
			
		  </div>
		</article>

	{% endfor %}

	{% comment , this prints each tag%}
	{% for url,tag in data %}
		<img src="{{ url }}" /><br>
		{% for x in tag %}
			tags: {{ x }}
		{% endfor %}
		<br>
	{% endfor %}
	{% endcomment %}

{% endblock content %}

