{% extends "bass/base.html" %} {% block content %}


<div class="wrapper">
    <div class="container1">
        <h2><strong>Better Advertising Smarter Screening</strong></h2>
        <p>Enter to tags to find matches</p>
        <br>

       
        <form action="/bass/showResults" autocomplete="off" name="advertiserForm" method="GET" id="advertiserForm" class="form">

            <script>
                    $(document).on('click', '.dropdown-menu li a', function() {
                        $(this).parent().parent().parent().find('.datebox').val($(this).html());
                    });

            </script>

            <div class="autocomplete">
                <input id="myInput" type="text" name="myCountry" placeholder="Tags">
            </div>


            <script language="javascript" type="text/javascript">
                    function addText() {
                        var newtext = document.advertiserForm.myCountry.value + " ";
                        document.advertiserForm.hashTags.value += newtext
                        document.advertiserForm.myCountry.value = "";
                    }

                </script>


            <textarea id="hashTags" rows="4" cols="50" type="text" name="hashTags"></textarea>
            <input type="text" placeholder="Minimum Followers">
            <!-- <input type="button" class="button3" value="Add new Tag" onClick="addText();"> -->
            <button type="button" onClick="addText()">Add new Tag</button>
            <button type="submit" id="login-button">Get Results</button>
        </form>

    </div>
    

 


    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

                <script language="javascript" type="text/javascript">
                    function addText() {

                        console.log('added text');

                        var newtext = document.advertiserForm.myCountry.value + " ";
                        document.advertiserForm.hashTags.value += newtext
                        document.advertiserForm.myCountry.value = "";
                    }

                </script>




{% endblock content %}
