{% extends "bass/base.html" %}

{% block content %}



{% comment %}
{% for userName,name,bio,followers,userURL in data %}
<h7><img src="http://bit.ly/2Dbuyte" alt="logo" style="width:25px;height:25px;"/> Username: {{ userName }}</h7><br>
<h7><img src="http://bit.ly/2Uz6smE" alt="logo" style="width:22px;height:22px;" /> Name: {{ name }}</h7><br>
<h7><img src="http://bit.ly/2KA0VYw" alt="logo" style="width:25px;height:25px;" /> Bio: {{ bio }}</h7><br>
<h7><img src="http://bit.ly/2GndMcz" alt="logo" style="width:26px;height:26px;"/>Followers: {{ followers }}</h7><br>
<h7><img src="http://bit.ly/2Iz56Bs" alt="logo" style="width:26px;height:26px;" /> <a href={{userURL}}>Instagram Link </a></h7>
<br>
<br>

{% endfor %}
{% endcomment %}

<br><br>
<article class="media content-section"> <h5>Matches</h5> </article>

{% for userName,name,bio,followers,userURL,matchScores in data %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
		    <a class="mr-2" href="#">{{ userName }} - {{ name }} </a>

		    <small class="text-muted">| Followers : {{ followers }} </small>
		</div>
		    
		
		<img src=" {{ profilepic }} " style="height:60px" />

		<br>
		
		<small class="text-muted">Bio: {{ bio }}</small><br>
		<small class="text-muted">Match rating: {{ matchScores }} </small><br>
		
		<div class="progress">
    		<div class="progress-bar" role="progressbar" aria-valuenow="{{matchScores}}" aria-valuemin="0" aria-valuemax="100" width="50%" color="black" style="width:{{matchScores}}%">
      			<span class="sr-only">50% Complete</span>
    		</div>
  		</div>

		
		
					
	</div>
</article>

{% endfor %}


<div>
  <div class="row">
    <div class="col-md-6 thing">hey</div>
    <div class="col-md-6 thing">hey</div>
  </div>
  <div class="row">
    <div class="col-md-6 thing">hey</div>
    <div class="col-md-6 thing">hey</div>
  </div>
</div>




{% endblock content %}
